/dat_bus.txt
/dat_bus2_split_contr.txt
/dat_bus_bright_cycle_from_all_50.txt
/dat_bus_contrast_cycle_from_all_50.txt
/dat_bus_enhancer_cycle_from_all_50.txt
/dat_bus_red_cycle_from_all_50.txt
/dat_bus_red_cycle_from_all_max.txt
/dat_bus_red_cycle_from_all_min.txt
/dat_bus_split.txt